%ul#chat
  - @chat_messages.each do |chat_message|
    %li
      = chat_message.created_at.strftime('%-d/%-m/%Y %k:%M:%S')
      = ':'
      = chat_message.message

%hr

%form
  %input{type: 'text', id: 'message', name: 'message'}
  %input{type: 'submit', id: 'submit', value: 'Post'}

%hr

%a{href: 'https://github.com/jamesotron/faye-rails-demo'} Source on Github.
